body {
    font-family: Arial, sans-serif;
    padding: 20px;
    height: 100vh;
    margin: 0;
    background: linear-gradient(135deg, #920deb, #a648f3);
    font-family: sans-serif;
}

h2 {
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

th,
td {
    padding: 10px;
    border: 3px solid #ccc;
    text-align: left;
    background-color: rgb(173, 173, 173);
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

form {
    max-width: 400px;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
}

input[type="submit"],
.btn {
    background: #28a745;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

input[type="submit"]:hover,
.btn:hover {
    background: #218838;
}